.inicio {
    text-align: center;
}

.links {
    color: red;
}

.background {
    background-image: url("https://i.pinimg.com/736x/8e/6c/06/8e6c064f57f94838263d7ba9ad80f353.jpg");
    color: white;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
}

.background-second-page {
    background-image: url("https://i.pinimg.com/736x/8e/6c/06/8e6c064f57f94838263d7ba9ad80f353.jpg");
    color: white;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    background-position: right;
}