.radio{
    size: 50%;
    height: 10%;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #990100;
    overflow-y: scroll;
    width: 5%;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #990100;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #990100;
  }