.progress{
    height: 8px;
    background-color: #66615b;
	position: relative;
	border-radius: 10px;
	width: 100%;
}

.progress .progress-bar{
   position: relative;
   background-color: #ef8157;
   animation: progress-animation 5s;
}

.bar2 {
    background-color: #ef8157;
    position: relative;
    width: 100%;
 }

@keyframes progress-animation{
    0% { width: 0%; }
    100% { width: 100%}
}